button,i {
    cursor: pointer;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FFFF;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  } */

.limginfo{
    height: 210px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translateY(-50%);
    width: 400px;


}


.limginfoL{
    height: 210px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translateY(-50%);
    width: 400px;


}

.limginfo button, .limginfoL button{
    border: none;
    border-radius: 2px;
    width: 150px;
    padding: 15px;
    background-color: rgb(47, 0, 33);
    color: white;
}

.limginfo2{
    font-size: 36px;
    text-align: left;
    /* font-weight: 500; */
}

img{
    object-fit: cover;
    object-position: top;
}

.ourbs
{
   
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.bsheader
{
    font-size: 36px;
    font-weight: 400;
}

.bsgrid{
    margin-top: 60px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 40px;
    height: 100%;


}

.carousel-item{
  height: 700px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: black;
}


@media only screen and (max-width: 1067px) {
    .carousel-item{
      height: 500px;
    }

    .limginfo1
    {
      font-size: 16px;
    }

    .limginfo2{
      font-size: 25px;
    }

    .limginfo button, .limginfoL button{
      border: none;
      border-radius: 2px;
      width: 110px;
      padding: 10px;
      background-color: rgb(47, 0, 33);
      color: white;
  }



.limginfoL{
  height: 140px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 40%;
  right: 10%;
  transform: translateY(-50%);
  width: 300px;


}

.limginfo{
  height: 140px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translateY(-50%);
  width: 300px;


}
  }